*, *::before, *::after {
	box-sizing: border-box;
}

#capture-button {
	padding: 1em;
	background: rgb(0, 217, 255);
	border: 1px solid grey;
	width: 100px;
	text-align: center;
	cursor: pointer;
	transition: background 0.25s;
}

#capture-button:hover {
	background: rgba(0, 217, 255, 0.6);
}

.meterLabel {
	width: 100px;
	display: inline-block;
}

meter {
	width: 300px;
}

meter::-webkit-meter-optimum-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-even-less-good-value {
	transition: 1s width;
}
